/*DEFAULTS*/
*{
    font-size: 14px
}

/*GENERELL*/

QLabel#toast {
    background-color: rgba(30, 30, 30, 220);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 13px;
}

/*MAIN WIDGET*/
#mainCentralWidget{
    background-color: rgba(0, 0, 0, 100%)
}

/*TAB BAR*/
#TabButton{
    background-color: #1D1B23;
    height: 40px;
    min-width: 120px;
    border-radius: 20px;
}
#TabButton:checked{
    background-color: #064093
}
#TabButton:hover{
    background-color: #033377
}

#top_bar_widget{
    background-color: rgba(5, 64, 147, 48%);
    min-height: 60px;
    border-radius: 30px;
}

/*HOME PAGE*/
#home_page_background {
    background-color: rgba(2, 6, 23, 100%);
    border-radius: 30px;
}

#conicalLayer {
    background: qconicalgradient(cx:0.5, cy:0.5, angle:45,
                                 stop: 0.00 rgba(17, 78, 186, 255),
                                 stop: 0.25 rgba(5, 64, 147, 255),
                                 stop: 0.50 rgba(30, 110, 210, 255),
                                 stop: 0.75 rgba(90, 170, 255, 255),
                                 stop: 1.00 rgba(17, 78, 186, 255));
    border-radius: 30px;
    margin: 10px;

}

#radialOverlayLayer {
    background: qradialgradient(cx:0.5, cy:0.5, radius:0.5,
                                 fx:0.5, fy:0.5,
                                 stop:0 rgba(2, 6, 23, 10),
                                 stop:0.25 rgba(2, 6, 23, 150),
                                 stop:0.6 rgba(2, 6, 23, 245),
                                 stop:1 rgba(2, 6, 23, 255));
    border-radius: 30px;
    border: 10px solid rgba(2, 6, 23, 100%)
}

#text_input_line_edit{
    border: none;
    border-radius: 15px;
    padding: 10px;
    min-height: 50px;
    max-height: 50px
}

#text_input_line_edit[is_active="True"]{
    border-bottom: 2px solid #443DEF;
    background-color: rgba(68, 70, 89, 57%);
    color: #FFFFFF
}
#text_input_line_edit[is_active="True"]:hover{
    border-bottom: 2px solid #7C77F2;
    background-color: rgba(68, 70, 89, 57%);
    color: #FFFFFF
}
#text_input_line_edit[is_active="True"]:focus{
    border-bottom: 2px solid #5E56FF;
    background-color: rgba(68, 70, 89, 57%);
    color: #FFFFFF
}
#text_input_line_edit[is_active="False"]{
    border-bottom: 2px solid #969696;
    background-color: rgba(61, 61, 61, 26%);
    color: #A5A5A5

}

#input_button{
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
    min-width: 80px
}

#input_button[is_active="False"]{
    background-color: #454545;
    color: #A5A5A5
}

#input_button[is_active="True"]{
    background-color: #443DEF;
    color: #FFFFFF
}
#input_button[is_active="True"]:hover{
    background-color: #7C77F2;
}

#input_lable[is_active="True"]{
    color: #FFFFFF
}
#input_lable[is_active="False"]{
    color: #A5A5A5
}

/*HISTORY PAGE*/
#history_page{
    border-radius: 30px;
    background-color: transparent;
}
QScrollArea{
    border-radius: 30px;

    background-color: rgba(2, 6, 23, 100%);
    padding: 10px
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}

/*TEXT BUBBLES*/

#TextBubble #bubble_frame{
    background-color: #443DEF;
    border-radius: 20px;
}
#TextBubble[text_type="user"] #bubble_frame {
    background-color: #443DEF;
}
#TextBubble[text_type="ai"] #bubble_frame {
    background-color: #9855FF;
}
#TextBubble[text_type="cmd"] #bubble_frame {
    background-color: rgba(16, 48, 32, 230);
}
#TextBubble[text_type="cmd_script"] #bubble_frame {
    background-color: rgba(40, 44, 52, 230);
}
#TextBubble[text_type="search_result"] #bubble_frame {
    background-color: rgba(20, 60, 80, 230);
}
#TextBubble[text_type="pythonCode"] #bubble_frame {
    background-color: rgba(35, 35, 60, 90%);
}
#TextBubble[text_type="python_code_script"] #bubble_frame {
    background-color: rgba(30, 45, 75, 230);
}
#TextBubble[text_type="system"] #bubble_frame {
    background-color: rgba(50, 50, 55, 200);
}
#TextBubble[text_type="transcript"] #bubble_frame {
    background-color: rgba(30, 70, 110, 220);
}

#text-buble-role{
    font-size: 16px;
    font-weight: bold
}
#text-buble-content{
    font-size: 14px;
}
#text-buble-time{
    font-size: 12px;
    color: rgba(255, 255, 255, 68%)
}

/*MEMORY PAGE AND BUBBLES*/
#memory_page{
    border-radius: 30px;
    background-color: transparent;
}

#MemoryBubble{
    background-color: rgba(67, 61, 239, 75%);
    border-radius: 20px;
    max-height: 90px;
}
#MemoryBubble[index="0"]{
    background-color: rgba(17, 83, 226, 75%);
    border-radius: 20px;
}
#MemoryBubble[index="1"]{
    background-color: rgba(12, 88, 164, 75%);
    border-radius: 20px;
}
#MemoryBubble[index="2"]{
    background-color: rgba(12, 127, 160, 75%);
    border-radius: 20px;
}

#MemoryBubble:hover{
    background-color: rgba(126, 61, 239, 57%);
    border-radius: 20px;
    max-height: 90px;
}

#MemoryBubble QLineEdit:hover{
    border-radius: 20px;
    border-bottom: 2px solid #7C77F2;
}

#MemoryBubble QPushButton:hover{
    background-color: rgba(255, 106, 106, 51%);
}

#memory-buble-time{
    font-size: 12px;
    color: rgba(255, 255, 255, 68%)
}

#new_memory_button{
    background-color: #07714E;
    border-radius: 20px;
    max-height: 50px;
    min-height: 50px;
    margin-top: 50px;
    max-width: 500px;
    min-width: 500px
}
#new_memory_button:hover{
    background-color: rgba(6, 113, 77, 43%);
}


/*SETTINGS*/
#settings_page{
    border-radius: 30px;
    background-color: transparent
}

#settings-title{
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px
}
#settings-line{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                             stop: 0.0 rgba(67, 61, 239, 0%),
                             stop: 0.5 rgba(67, 61, 239, 100%),
                             stop: 1.0 rgba(67, 61, 239, 0%));
    min-height: 2px
}

QCheckBox {
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 20px;

    spacing: 20px;
}


/*-----WINDOWS-----*/

/*VOLUME TEST*/
#volume-bar {
   border: 2px solid #2d2d2d;
   border-radius: 5px;
   background-color: #1a1a1a;
   width: 18px;
}
#volume-bar::chunk {
    background: #7C77F2;
    border-radius: 3px;
}
#score-bar{
   border: 2px solid #2d2d2d;
   border-radius: 5px;
   background-color: #1a1a1a;
   width: 18px;
}
#score-bar::chunk {
    background: #2562B9;
    border-radius: 3px;
}

#volume-label{
    background-color: red
}

#volume-test QLabel{
    max-height: 20px
}
#volume-test QPushButton{
    min-height: 20px
}

#apply-button{
    background-color: #1E7F1C
}
#apply-button:hover{
    background-color: rgba(29, 127, 27, 50%)
}
#exit-button{
    background-color: #7C1111
}
#exit-button:hover{
    background-color: rgba(124, 16, 16, 50%)
}
